.mapWrapper {
    width: 100%;
    height: 95vh;
}

nav {
    background-color: #333;
    margin: 0;
    overflow: hidden;
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;    
}

nav ul li:first-child{
    margin-right: 58vw;
}

.planBut{
    position: absolute;
    left: 85%;
    top: 85%;
    padding: 1%;
    background-color: rgba(0,0,0,0.9);
    color: white;
    border-radius: 100px;
    border: 1px solid black;
    padding: 20px;
    font-size: 20px;    
}

.myModal{
    position: absolute;
    left: 75%;
    top: 60%;
    border: 1px solid black;
    height: 220px;
    width: 300px;
    border-radius: 30px;    
}

.modalHead{
    text-align: center;
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: black;
    color: white;
    height: 30px;
    padding-top: 15px;
    width: 100%;
    font-size: large;
}

.modalBody{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0,0.7);
    height: 175px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;    
}

.modalBut{
    padding: 8px;
    margin: 10px 30px;
    border-radius: 30px;
    background-color: rgba(255,255,255);
    color: black;
    font-size: 15px;
}

.modalHead > span{
    margin: 10px 90px;
}

#addSpot{
    /* height: 600px; */
    border: 1px solid black;
}

.modalBut a{
    text-decoration: none;
    color: black;    
}

.card{
    height: 400px;
    width: 300px;
    box-shadow: 3px 2px 5px black;  
    border-radius: 20px;  
    margin-bottom: 5%;  
}

.card-img{
    height: 40%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-body{
    height: 45%;
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 15px;        
}

.card-content{
    padding: 5px;
    width: 97%;
    height: 70%;
    overflow-y: scroll;
}

.card-title{  
    font-size: large;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;    
    text-align: center;  
}

.card-footer{
    display: flex;
    justify-content: space-evenly;
    height: 13%;
    width: 100%;    
}

.card-but{
    height: 80%;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
    font-size: medium;
    transition: background-color 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-but:hover{
    background-color: lightskyblue;        
}

.card-but > a{
    text-decoration: none;
    color: #000;
}

.card-container{    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-between;
    
}